<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Entreprises</title>
		<link rel="stylesheet" href="/assets/0.css">
		<link rel="stylesheet" href="/assets/search.css">
		<link rel="stylesheet" href="/assets/overlay.css">

		<link rel="icon" type="image/png" href="images/Logo_cesi_2022.png">
	</head>

	<body>
		{% include 'header.twig' %}
		{% include 'popup-supr.twig' %}

		{% if droits['Créer une entreprise'] %}
			<div id="popup-overlay-add">
				<div class="popup-content">
					<h2>Ajouter une entreprise</h2>
					<form id="entreprise-form" method="post" enctype="multipart/form-data" action="">

						<div class="form-group">
							<label for="nom">Nom de l'entreprise</label>
							<input type="text" id="nom" name="nom" placeholder="Nom de l'entreprise" required>
						</div>

						<div class="form-group">
							<label for="description">Description</label>
							<textarea id="description" name="description" rows="3" placeholder="Description de l'entreprise" required></textarea>
						</div>

						<div class="form-group">
							<label for="mail">Email</label>
							<input type="email" id="mail" name="mail" placeholder="Email de contact" required>
						</div>

						<select name="id_secteur" id="secteur-select" class="form-group" required>
							<option value="">Sélectionnez un secteur</option>
							{% for secteur in secteurs %}
								<option value="{{ secteur.id_secteur }}">{{ secteur.secteur }}</option>
							{% endfor %}
						</select>

						<div class="form-group">
							<label for="profil_entreprise">Image du profil</label>
							<input type="file" id="profil_entreprise" name="profil_entreprise" accept="image/*" required>
						</div>

						<div class="form-group">
							<label for="pays">Pays</label>
							<input type="text" id="pays" name="pays" placeholder="Pays" required>
						</div>

						<div class="form-group">
							<label for="ville">Ville</label>
							<input type="text" id="ville" name="ville" placeholder="Ville" required>
						</div>

						<div class="form-group">
							<label for="adresse">Adresse</label>
							<input type="text" id="adresse" name="adresse" placeholder="Adresse" required>
						</div>

						<div class="form-group">
							<label for="code_postal">Code Postal</label>
							<input type="text" id="code_postal" name="code_postal" placeholder="Code Postal" required>
						</div>


						<input type="hidden" id="add" name="add" value="1">

						<button type="submit" class="submit-btn">Ajouter l'entreprise</button>
					</form>
					<a href="javascript:void(0)" onclick="togglePopupAdd()" class="popup-exit">×</a>
				</div>
			</div>
		{% endif %}

		{% if droits['Modifier une entreprise'] %}
			<div id="popup-overlay-modif">
				<div class="popup-content">
					<h2>Modifier une entreprise</h2>
					<form id="modif-offre-form3" method="post" enctype="multipart/form-data">

						<input type="hidden" id="offer-id-upd" name="offer_id-upd">


						<div class="form-group">
							<label for="nom">Nom de l'entreprise</label>
							<input type="text" id="nom" name="nom" placeholder="Nom de l'entreprise" required>
						</div>

						<div class="form-group">
							<label for="description">Description</label>
							<textarea id="description" name="description" rows="3" placeholder="Description de l'entreprise" required></textarea>
						</div>

						<div class="form-group">
							<label for="mail">Email</label>
							<input type="email" id="mail" name="mail" placeholder="Email de contact" required>
						</div>

						<select name="id_secteur" id="secteur-select" class="form-group" required>
							<option value="">Sélectionnez un secteur</option>
							{% for secteur in secteurs %}
								<option value="{{ secteur.id_secteur }}">{{ secteur.secteur }}</option>
							{% endfor %}
						</select>

						<div class="form-group">
							<label for="profil_entreprise">Image du profil</label>
							<input type="file" id="profil_entreprise" name="profil_entreprise" accept="image/*" required>
						</div>

						<div class="form-group">
							<label for="pays">Pays</label>
							<input type="text" id="pays" name="pays" placeholder="Pays" required>
						</div>

						<div class="form-group">
							<label for="ville">Ville</label>
							<input type="text" id="ville" name="ville" placeholder="Ville" required>
						</div>

						<div class="form-group">
							<label for="adresse">Adresse</label>
							<input type="text" id="adresse" name="adresse" placeholder="Adresse" required>
						</div>

						<div class="form-group">
							<label for="code_postal">Code Postal</label>
							<input type="text" id="code_postal" name="code_postal" placeholder="Code Postal" required>
						</div>

						<input type="hidden" id="update" name="update" value="1">

						<button type="submit" class="submit-btn">Modifier l'offre</button>
					{% endif %}
				</form>
				<a href="javascript:void(0)" onclick="togglePopupModif()" class="popup-exit">×</a>
			</div>
		</div>


		<form method="get">
			<main class="bloc-page">
				<aside class="bloc-filters">
					<h2>Filtres</h2>

					<!-- Type de contrat -->
					<h3>Secteur d'activité</h3>
					<select name="secteur" value="{{secteur}}">
						<option value="">-- Sélectionner --</option>
						<option value="Informatique" {% if secteur == 'Informatique' %} selected {% endif %}>Informatique</option>
						<option value="Sante" {% if secteur == 'Sante' %} selected {% endif %}>Santé</option>
						<option value="Agroalimentaire" {% if secteur == 'Agroalimentaire' %} selected {% endif %}>Agroalimentaire</option>
						<option value="Marketing" {% if secteur == 'Marketing' %} selected {% endif %}>Marketing</option>
						<option value="Finance" {% if secteur == 'Finance' %} selected {% endif %}>Finance</option>
						<option value="Transport" {% if secteur == 'Transport' %} selected {% endif %}>Transport</option>
						<option value="Armée" {% if secteur == 'Armée' %} selected {% endif %}>Armée</option>
						<option value="Énergie" {% if secteur == 'Énergie' %} selected {% endif %}>Énergie</option>
						<option value="Éducation" {% if secteur == 'Éducation' %} selected {% endif %}>Éducation</option>
						<option value="Tourisme" {% if secteur == 'Tourisme' %} selected {% endif %}>Tourisme</option>
						<option value="BTP" {% if secteur == 'BTP' %} selected {% endif %}>BTP</option>
						<option value="Télécoms" {% if secteur == 'Télécoms' %} selected {% endif %}>Télécoms</option>
						<option value="Assurance" {% if secteur == 'Assurance' %} selected {% endif %}>Assurance</option>
						<option value="Aéronautique" {% if secteur == 'Aéronautique' %} selected {% endif %}>Aéronautique</option>
						<option value="Automobile" {% if secteur == 'Automobile' %} selected {% endif %}>Automobile</option>
						<option value="Banque" {% if secteur == 'Banque' %} selected {% endif %}>Banque</option>
						<option value="Immobilier" {% if secteur == 'Immobilier' %} selected {% endif %}>Immobilier</option>
						<option value="Événementiel" {% if secteur == 'Événementiel' %} selected {% endif %}>Événementiel</option>
						<option value="Mode" {% if secteur == 'Mode' %} selected {% endif %}>Mode</option>
						<option value="Logistique" {% if secteur == 'Logistique' %} selected {% endif %}>Logistique</option>
					</select>


					<div class="bloc-pagination">
						<button type="submit">Appliquer</button>
					</div>
				</aside>


				<section class="bloc-search">
					<div class="bloc-search-bar">
						<input type="text" placeholder="Rechercher un stage" name="search-bar" value="{{ search }}">
					</div>

					<div class="bloc-result">
						{% if droits['Créer une entreprise'] %}
							<button class="postuler-btn" type="button" onclick="togglePopupAdd()">Ajouter une entreprise</button>
						{% endif %}
						{% for entreprise in entreprises %}
							<div class="offre">
								<div class="offre-header">
									<h2>{{ entreprise.nom }}</h2>
									<div class="offre-buttons">
										{% if droits['Modifier une entreprise'] %}
											<button id="modifier-btn" type="button" onclick="togglePopupModif({{entreprise.id_entreprise}})">Modifier</button>
										{% endif %}
										{% if droits['Supprimer une entreprise'] %}
											<button id="supprimer-btn" type="button" onclick="togglePopupSupr({{entreprise.id_entreprise}})">Supprimer</button>
										{% endif %}
										<button class="postuler-btn" type="button" onclick="window.location.href='/profil-company?id_entreprise= {{ entreprise.id_entreprise }}'">Voir profil entreprise</button>
									</div>
								</div>
								<div class="offre-details">
									<p>
										<strong>Secteur :</strong>
										{{ entreprise.secteur }}</p>
									<p>
										<strong>Contact :</strong>
										{{ entreprise.mail }}</p>
									<p>
										<strong>Localisation :</strong>
										{{ entreprise.ville }}</p>
								</div>
							</div>
						{% endfor %}
					</div>
					<!-- Pagination avec un seul formulaire -->
					<div class="bloc-pagination">
						{% if pageActuelle > 1 %}
							<button type="submit" name="page" value="{{ pageActuelle - 1 }}">Précédent</button>
						{% endif %}

						<span>
							<p>Page
								{{ pageActuelle }}
								sur
								{{ totalPages }}</p>
						</span>

						{% if pageActuelle < totalPages %}
							<button type="submit" name="page" value="{{ pageActuelle + 1 }}">Suivant</button>
						{% endif %}
					</div>
				</section>
			</main>
		</form>

		{% include 'footer.twig' %}
		 <script src="../../scripts/popup.js"></script>
	</body>
</html></body></html></body></html>
