<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
        <link rel="stylesheet" href="assets/dashboard.css">
        <link rel="stylesheet" href="assets/dashboard-responsive.css">
        <link rel="stylesheet" href="/assets/0.css">
        <link rel="icon" type="image/png" href="images/Logo_cesi_2022.png">
    </head>
    <!-- header -->
    {% include 'header.twig' %}
    <body>
        <div class="dashboard-container">
            <div class="main-container">

                <!--CARD-->
                <div class="insights">
                    <div class="card">
                        <div class="card-container">
                            <div class="card-header">
                                <span class="material-icons-sharp">
                                    bar_chart
                                </span>
                            </div>
                            <div class="card-body">
                                <div class="card-info">
                                    <h3>Nombre de candidatures envoyées</h3>
                                </div>
                                <div class="card-progress">
                                    <svg width="96" height="96" class="stroke-yellow">
                                        <circle id="circle1" cx="38" cy="38" r="36"></circle>
                                    </svg>
                                    <div class="percentage">
                                        <p>{{nb_candidature}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-container">
                            <div class="card-header">
                                <span class="material-icons-sharp">
                                    bar_chart
                                </span>
                            </div>
                            <div class="card-body">
                                <div class="card-info">
                                    <h3>Candidatures envoyées récemment</h3>
                                </div>
                                <div class="card-progress">
                                    <svg width="96" height="96" class="stroke-fuscha">
                                        <circle id="circle2" cx="38" cy="38" r="36"></circle>
                                    </svg>
                                    <div class="percentage">
                                        <p>{{nb_candidature_recentes}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-container">
                            <div class="card-header">
                                <span class="material-icons-sharp">
                                    bar_chart
                                </span>
                            </div>
                            <div class="card-body">
                                <div class="card-info">
                                    <h3>Evaluations postées</h3>
                                </div>
                                <div class="card-progress">
                                    <svg width="96" height="96" class="stroke-cyan">
                                        <circle id="circle3" cx="38" cy="38" r="36"></circle>
                                    </svg>
                                    <div class="percentage">
                                        <p>{{nb_evals}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Recent orders-->
                <section class="recent-orders">
                    <div class="ro-title">
                        <h2 class="recent-order-title">Candidatures envoyées</h2>
                        <a href="#" class="Show all">Tout afficher</a>
                    </div>

                    <table>
                        <thead>
                             <tr>
                                 <th>Id</th>
                                 <th>Offre</th>
                                 <th>Entreprise</th>
                                     <th>Lieu</th>
                                 <th>Date d'envoi</th> 
                            </tr>
                        </thead>
                        <tbody>
                            {% for candidatures in candidature %}
                                <tr>
                                    <td>{{ candidatures.id_postuler }}</td>
                                    <td>{{ candidatures.offre_titre }}</td>
                                    <td>{{ candidatures.entreprise }}</td>
                                    <td>{{ candidatures.lieu }}</td>
                                    <td>{{ candidatures.date_candidature|date("d/m/Y") }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6">Aucune candidature envoyée.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>

            </div>
            <div class="extrabar">

                <div class="recent-updates">
                    <h2>Wish-list</h2>
                    <div class="updates-container">
                        {% for wishlists in wishlist %}
                            <div class="update">
                                <div class="message">
                                    <p><strong>Offre : </strong>{{ wishlists.nom_offre }}</p><br>
                                    <p><strong>Salaire proposé : </strong>{{ wishlists.salaire }}$</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>


        </div>



        <script src="scripts/dashboard.js"></script>
    </body>
</html>