<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search - StageFinder</title>
    <link rel="stylesheet" href="assets/0.css">
        <link rel="stylesheet" href="/assets/search.css">
    <link rel="stylesheet" href="assets/company.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Single+Line&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/Logo_cesi_2022.png">
</head>

<body>
    
    <!--header -->
    {% include 'header.twig' %}

    <main>
        <div class="main-entreprise">
            <div class="header-entreprise">
                <div class="header-img">
                    <img src="{{entreprise.chemin_profil_entreprise}}" alt="">
                </div>
                <div class="name-entreprise">
                    <h2>{{entreprise.nom}}</h2>
                </div>
            </div>
            <div class="type-entreprise">
                <div class="part part1">
                    <div class="type-logo">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="type-text">
                        <p class="type-title">Contact</p>
                        <p class="type-response">{{entreprise.mail}}</p>
                    </div>

                </div>

                <div class="part part2">
                    <div class="type-logo">
                        <i class="fa-solid fa-briefcase"></i>
                    </div>
                    <div class="type-text">
                        <p class="type-title">Secteur d'activité</p>
                        <p class="type-response">{{entreprise.secteur}}</p>
                    </div>
                </div>

                <div class="part part3">
                    <div class="type-logo">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div class="type-text">
                        <p class="type-title">Localisation</p>
                        <p class="type-response">{{entreprise.ville}}</p>
                    </div>
                </div>
            </div>



            <div class="description-entreprise">
                <p>{{entreprise.description}}</p>
            </div>



            <div class="offre-entreprise">
                <h2>Offre récente de l'entreprise</h2>
                {% for offre in offers %}
                <div class="offre">
                    <div class="offre-header">
                        <h2>{{offre.titre}}</h2>
                        {% if droits['Modifier une offre'] %}
							<button id="modifier-btn" type="button" onclick="togglePopupModif({{ offre.id_offres }})">Modifier</button>
						{% endif %}
						{% if droits['Supprimer une offre'] %}
							<button id="supprimer-btn" type="button" onclick="togglePopupSupr({{ offre.id_offres }})">Supprimer</button>
						{% endif %}
						{% if droits['Postuler à une offre'] %}
							<button class="postuler-btn" type="button" onclick="togglePopup({{ offre.id_offres }})">Postuler</button>
						{% endif %}
                    </div>
                    <div class="offre-details">
                        <p><strong>Entreprise :</strong> {{entreprise.nom}}</p>
                        <p><strong>candidature :</strong> {{offre.nbCandidats}}</p>
                        <p><strong>Durée :</strong> {{offre.duree}}</p>
                        <p><strong>Salaire :</strong> {{offre.salaire}}</p>
                        <p><strong>Télétravail :</strong> {{ offre.teletravail ? 'Oui' : 'Non' }}</p>
                        <p><strong>Taille :</strong> Moyenne</p>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>

    </main>
    
    <!--footer -->
    {% include 'footer.twig' %}

    <script src="script.js"></script>
</body>

</html>